<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.orcc.backends.backends">
      <backend
            class="org.racer.backend.osci.OsciBackendImpl"
            name="OSCI">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="org.racer.backend.osci.ui.option.mapping">
         </option>
         <option
               id="org.racer.backend.osci.ui.option.ipc">
         </option>
      </backend>
   </extension>
   <extension
         id="osci"
         point="net.sf.orcc.core.options">
      <option
            id="org.racer.backend.osci.ui.option.mapping"
            name="Mapping">
         <checkBox>
            <option
                  id="org.racer.backend.osci.ui.option.mapping"
                  name="File">
               <browseFile
                     folder="false"
                     workspace="true">
               </browseFile>
            </option></checkBox>
      </option>
      <option
            defaultValue="FIFO"
            id="org.racer.backend.osci.ui.option.ipc"
            name="IPC">
         <comboBox>
            <comboBoxItem
                  id="FIFO">
            </comboBoxItem>
            <comboBoxItem
                  id="Shared Memory">
            </comboBoxItem>
            <comboBoxItem
                  id="Cache Memory">
            </comboBoxItem>
         </comboBox>
      </option>
   </extension>
   <extension
         id="osci"
         name="osci"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
</plugin>
