<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.orcc.backends.backends">
      <backend
            class="org.racer.backend.osci.OsciBackendImpl"
            name="OSCI">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="org.racer.backend.osci.option.sctype">
         </option>
         <option
               id="org.racer.backend.osci.option.iac">
         </option>
      </backend>
   </extension>
   <extension
         id="osci"
         point="net.sf.orcc.core.options">
      <option
            defaultValue="FIFO"
            id="org.racer.backend.osci.option.iac"
            name="IAC">
         <comboBox>
            <comboBoxItem
                  id="FIFO">
            </comboBoxItem>
            <comboBoxItem
                  id="Shared Memory">
            </comboBoxItem>
            <comboBoxItem
                  id="Cached Memory">
            </comboBoxItem>
         </comboBox>
      </option>
      <option
            defaultValue="false"
            description="Using SystemC Types"
            id="org.racer.backend.osci.option.sctype"
            name="ScType">
         <checkBox></checkBox>
      </option>
   </extension>
   <extension
         id="osci"
         name="osci"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
</plugin>
